REMOTE_STATE_S3_BUCKET_NAME=""
REMOTE_STATE_S3_FOLDER_NAME=""

ELASTICSEARCH_SERVER_BASE_URL=""
ELASTICSEARCH_LUCENE_QUERY_FILE_PATH=""

KIBANA_BASE_URL=""

SMTP_SERVER_HOSTNAME=""
SMTP_SERVER_PORT=""
SMTP_SERVER_USERNAME=""
SMTP_SERVER_PASSWORD=""
SMTP_SENDER_ADDRESS=""
SMTP_RECEIVER_ADDRESS=""
